@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.logo{
    height: 90px;
    width: 90px;
    
}
.logo img{
    height: 100%;  
}

.linkharu{
    height: 90px;
    list-style: none;
    color: white;
    width: 100%;
    background-color:black;
    font-family: 'Righteous', cursive;
   font-size: 30px;
}

.linkharu li {
    display: inline-block;
    padding: 25px;
}

.linkharu :hover{
    background-color: rgba(165, 146, 146, 0.247);
    color: burlywood;
    cursor: pointer;
}

.outermost{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    width: 100%;
    margin-left: 10px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 20%;
    border-radius: 20%;
    margin: 10px;
    
}

.daave{
    height: 100%;
    border-radius: 20%;
}

.icon-bar{
    display: flex;
    height: 90%;
    width: 25%;
   
    padding: 30px;
    border-radius: 20%;
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 0px;
    margin: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    width: 35px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
    border-radius: 20%;
  }
  
  .instagram {
    background: #8a3ab9;
    color: white;
    border-radius: 20%;
  }
  .linkedin {
    background: #007bb5;
    color: white;
    border-radius: 20%;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
    border-radius: 20%;
  }

.support{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 30%;
    height: 90%;
   
    border-radius: 20%;
    font-family: 'Righteous', cursive;
    margin: 10px;
    padding: 0px;
    color: white;
}

.support p{
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(16) infinite alternate;
    font-size:20px;
    border-right: 3px solid;
    
}

@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 17ch;
    }
}


